.contact_header {
  font-size: var(--section-header-size);
  text-align: center;
}

.contact_quote_header {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
}

.quote_container {
  align-self: center;
  width: 60vw;
}

.quote {
  text-align: center;
}

.quote_author {
  text-align: right;
}

.contact_page {
  display: flex;
  flex-direction: column;
}

.form {
  /* margin-top: 5rem; */
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 35vw;
  gap: 0.25rem;
  border: 2px solid var(--secondary-colour);
  border-radius: 1rem;
  padding: 1rem 3rem;
}

.links {
  margin-top: 3rem;
  flex-direction: row;
  align-self: center;
}

.links :hover {
  background-color: aliceblue;
  border-radius: 1rem;
}

.form input {
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(212, 218, 194);
  padding-left: 0.4rem;
}

.form textarea {
  min-height: 20vh;
  border-radius: 0.5rem;
  background-color: rgb(212, 218, 194);
  padding: 0.3rem 0 0 0.4rem;
}

.contact_button {
  font-size: 1.2rem;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--third-colour);
  align-self: center;
}

.contact_button:hover {
  color:aliceblue
}

.quote_button {
  font-size: 1rem;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  padding: 0.2rem;
  border-radius: 0.5rem;
  border: 2px solid var(--third-colour);
  margin-left: 0.5rem;
}

.quote_button:hover {
  color: aliceblue;
  border-color: aliceblue;
  cursor: pointer;
}

@media only screen and (max-width:600px) {
  .form {
    /* margin-top: 5rem; */
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80vw;
    gap: 0.25rem;
  }
  
}
@media only screen and (min-width:601px) and (max-width:1000px) {
  .form {
    /* margin-top: 5rem; */
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50vw;
    gap: 0.25rem;
  }
  
}