.contact_header {
  font-size: var(--section-header-size);
  text-align: center;
}

.contact_page {
  display: flex;
  flex-direction: column;
}

.form {
  /* margin-top: 5rem; */
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 30vw;
  gap: 0.25rem;
}

.links {
  margin-top: 5rem;
  flex-direction: row;
  align-self: center;
}

.links :hover {
  background-color: aliceblue;
}

.form input {
  border-radius: 0.5rem;
  background-color: rgb(212, 218, 194);
}

.form textarea {
  min-height: 20vh;
  border-radius: 0.5rem;
  background-color: rgb(212, 218, 194);
}

.button {
  font-size: 1.2rem;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  width: 8rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 2px solid var(--third-colour);
  align-self: center;
}


@media only screen and (max-width:600px) {
  .form {
    /* margin-top: 5rem; */
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 80vw;
    gap: 0.25rem;
  }
  
}
@media only screen and (min-width:601px) and (max-width:1000px) {
  .form {
    /* margin-top: 5rem; */
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 50vw;
    gap: 0.25rem;
  }
  
}