.navbar {
    position:sticky;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    /* background-color:  #35383b; */
    color: var(--primary-colour);;
    /* color:  #35383b; */
    /* color: #f8aa18; */
    /* background-color: #FB9039; */
    background-color: var(--secondary-colour);
    height: 3rem;
    font-size: 1.6rem;
    align-items: center;
    padding-right: 1rem;
    border-bottom: 1px solid var(--secondary-colour);
}

.navbar :hover {
    scale: 1.1;
    color: rgb(212, 218, 194);
}

.mobileNav {
    position: fixed;
    top: 1px;
    right: 5px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-bottom: 0.5rem;
}

.dropdown {
    position: absolute;
    top: 2.5rem;
    right: 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    z-index: 10;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    background: var(--primary-colour);
    border: solid 1px var(--secondary-colour);
    border-radius: 1rem;
}

.dropdown :hover {
    color: rgb(212, 218, 194);
}