.projects_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40vw;
  height: 50vh;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  /* background-color: var(--secondary-colour); */
  /* background-color: var(--third-colour); */
  background-color: rgb(212, 218, 194);
  color: var(--primary-colour);
}

.project_imglinks {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.project_links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

.project_con {
  display: flex;
  gap: 8rem;
  justify-content: center;
  /* max-height: 40vh; */
}

.imgbuttongroup {
  margin: 1rem 0;
}
.img {
  /* height: 50vh; */
  /* width: 40vw; */
  /* margin: 0 1rem 1rem 1rem; */
  border-radius: 1rem;
  border: 2px solid var(--secondary-colour);
  transition: scale 2s;
}

.img:hover {
  /* height: 50vh; */
  /* width: 40vw; */
  /* margin: 0 1rem 1rem 1rem; */
  border-radius: 5rem;
  border: 5px solid var(--secondary-colour);
  scale: 1.1;
}

.textarea {
  display: flex;
  flex-direction: column;
  height: 330px;
  width: 500px;
  margin: 1rem 0;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  border: 2px solid var(--secondary-colour);
  overflow: hidden;
  /* justify-content: space-between; */
}

.project_name {
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem 0 0 0;
  text-decoration: underline;
}

.portfolio_tech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 1.1rem;
}

.textarea_bottom {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tech_used {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  width: auto;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
}

.links_buttons {
  height: 2.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--secondary-colour);
  color: var(--primary-colour);
  border: solid 1px var(--third-colour);
}

.link_text :hover {
  color: rgb(212, 218, 194);
  scale: 1.1;
}

@media screen and (max-width:900px) {
  .project_con {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    place-items: center;
    gap: 2em;
  }
  .textarea {
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
  }
  .links_buttons {
    font-size: 1rem;
  }
}